<h1>Order Entry</h1>
<div class="row">
    <div class="col-9">
    <%= form_with scope: :user_stocks, url: order_stocks_path, local:true do |f|%>
      <%=f.hidden_field :ticker, :value => @stock.ticker%>
      <div class="form-group">
        <%= f.label :broker %>
        <%= f.text_field :broker, autofocus: true, class: 'form-control', value:"#{@broker.username}", :readonly => 'true' %>  
      </div>
      <%=f.hidden_field :broker_id, :value => @broker.id%>
      <div class="form-group">
        <%= f.label :stock %>
        <%= f.text_field :broker, autofocus: true, class: 'form-control', value:"#{@stock.name} (#{@stock.ticker})", :readonly => 'true' %>
      </div>
      <div class="form-group">
      <%= f.label :action %>
      <%= f.select :type, [["Buy", "buy"], ["Sell", "sell"]], class: 'form-control', selected: "#{@type}" %>
    </div>
        <div class="form-group">
          <%= f.label :quantity %>
          <%= f.number_field :quantity, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
        <%= f.label "Price" %>
        <%= f.number_field :stock_price, autofocus: true, class: 'form-control', value:"#{@stock.last_price}", :readonly => 'true', step: 0.1%>
      </div>
        <div class="form-group">
          <%= f.submit 'Submit order', class: 'btn btn-primary' %>
        </div>

      <% end %>
    
    </div>
</div>
